@media (max-width:678px){
	.esri-leaflet-logo, .leaflet-control-attribution{
		display:none;
	}
}

.leaflet-top,.leaflet-bottom, .leaflet-left, .leaflet-right{
	z-index:2;
}

.leaflet-top.leaflet-right{
	z-index:3;
}